.car-detail-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.car-info {
  flex: 1 1 350px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin-top: 17px;
}

.car-detail-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 20px;
}

.car-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.car-info h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.car-info p {
  margin: 6px 0;
  font-size: 1rem;
  color: #555;
}

.booking-form {
  flex: 1 1 320px;
  padding: 25px;
  border-radius: 12px;
  background-color: #f4f7fa;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.booking-left, .booking-right {
    flex: 1;
}

.booking-left h2 {
    margin-bottom: 10px;
}

.booking-left input[type="date"] {
    margin-bottom: 10px;
}

.booking-right input[type="date"],
.booking-right input[type="time"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.booking-right button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.booking-right button:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
  .car-detail-layout {
    flex-direction: column;
    align-items: center;
  }

  .car-info,
  .booking-form {
    width: 100%;
    max-width: 600px;
  }
}
